# Ignore virtual environments and env files
.env
env/
.venv/
venv/

# Ignore all vectorstores data but keep .gitkeep
storage/vectorstores/*
!.gitkeep
!storage/vectorstores/.gitkeep

.storage/vectorstores/*
!.gitkeep
!.storage/vectorstores/.gitkeep

# Ignore all LLM models but keep .gitkeep
llms/gguf/models/*
!.gitkeep
!llms/gguf/models/.gitkeep

# Git
.GH_OS_REPO_TOKEN
GH_OS_REPO_TOKEN
.GH_OS_REPO_TOKEN

alembic/versions/*
!alembic/versions/.gitkeep

volumes/*